 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section h2{
    display: block;
    padding: 0 0 0 100px;
}

header ,
section  h2,
section h3,
h1 {
    font-family: "Bungee", sans-serif;
    font-weight: normal;
}

body ,button,
textarea{
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgb(230, 213, 192);
}

header {
    padding: 1px 0px;
    background-color: rgb(75, 75, 73);
}

header a{
    color: rgb(246, 180, 94);
    text-decoration: none;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 12px;
}
#about {
margin: 40px;
}


section h2 , li a{
    color:rgb(86, 91, 86);
}

header nav li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(210, 181, 34);
    padding: 3px 19px 2px 19px;
    border-radius: 20px;
}
    /*centralizar pagina inteira*/
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    zoom: 100%;
}


#about a{
    text-decoration: solid;
    color: rgb(252, 252, 252);
    background-color: #ffbd3a;
    border-radius: 10px;
    padding: 5px;
}
#about a:hover {
    background-color: #fff;
    color: #020202;
    border-radius: red;
    border-style: solid;
}
#about .link {
    margin: 14px;
}
header .container { 
    display: flex; /*lado a lado*/
    align-items: center; /*centralizar menu*/
    justify-content: space-between; /*jogar para direita*/
}
section .container {
    display: flex;

}

.brands-list img{
    height: 40px;
}

.brands-list li{
    display: inline;
    margin-right: 7px;
}

section .container{
    align-items: flex-start;
}

section p {
    margin-bottom: 9px;
}

section .store-img{
    margin-right: 14px;
    border-radius: 15px;
    height: 400px;
    margin: 0 15px 40px;
}

.social-links img{
    height: 24px;
    margin-left: 10px;
    
}
.social-links li{
    display: inline; /*logo lado alado*/
    margin-right: 8px;
}

.social-links li a{
    text-decoration: none;
}

#contact .container{ 
    display: block;
}
.contact-methods{
    display: flex;   
    justify-content: space-between;
}
#contact h2{
    padding: 0px;
}

/*#contac ,h2{
    margin: 0 20px;
}*/


form input,
form button { 
    display: block;
    width: 320px;
    height: 38px;
    margin-bottom: 8px;
    padding: 8px;
    border-style: solid;
    border-radius: 15px;
}

form button{
    border-style: solid;
    border-radius: 22px; color: #fff;
    border-color: rgb(255, 246, 125);
    background: linear-gradient(#3a3a3a ,#c99a16);
    width: 100%;
    height: 200%;
    cursor: pointer;
    }
form button:hover{
    border-color: rgb(14, 12, 12);
}

input:focus,textarea:focus{
    color: #c91681;
    outline-color: #c99a16;
}

form textarea{
    padding-left: 9px;
    padding-left: 9px;
    padding-top: 10px;
    height: 90px;;
    width: 100%;
    resize: none;
    border-radius: 13px;
    border: solid; color: #fff;
}

footer{
    background-color: rgb(94, 93, 94);
    padding: 10px 0;
    margin-top: 50px;
    color: #fff;
}